$default-button-color: red;
$default-screen-background: white;

.button {
  height: 45px;
  line-height: 45px;
  width: 100%;
  display: inline-block;
  padding: 8px 12px;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #555;
}

.switch-candy {
  border-radius: 0;
}

.input-field {
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 5;
}
