body {
  background-color: #777777;
}

#game-menu {
  background-color: #abe1fd;
}

#network-game-menu {
  background-color: #adddcf;
  .game-code-input {
    display: none;
  }
  .switch-toggle {
    // public-private-chooser
  }
  .game-code-container {
    h1 {
      margin-top: 45%;
    }

    .game-code-input {
      text-align: center;
      width: 100%;
    }
  }
}

#options-screen {
  background-color: #bfb1d5;
}

#join-network-game-menu {
  background-color: #fed1be;

  .game-code-container {
    margin-top: 45%;
  }
}

.network-game-start-button {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #555;
}


