body {
  background-color: #777777;
}

#game-menu {
  background-color: #abe1fd;
}

#network-game-menu {
  background-color: #abe1fd;
  .game-code-input {
    display: none;
  }
  .switch-toggle {
    // public-private-chooser
  }
  .game-code-container {
    .game-code-input {
      text-align: center;
      width: 100%;
    }
  }
}

#options-screen {
  background-color: #abe1fd;
}

#join-network-game-menu {
  background-color: #abe1fd;
}