body {
  background-color: #079EED;
}

#game-menu {
  background-color: #EBE38D;
}

#network-game-menu {
  background-color: #E36E64;
  .game-code-input {
    display: none;
  }
  .switch-toggle {
    // public-private-chooser
  }
  .game-code-container {
    .game-code-input {
      text-align: center;
      width: 100%;
    }
  }
}

#options-screen {
  background-color: #079EED;
}